{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<section>
<div class="container-fluid text-center">
{% for item in galerie %}
  <div class="row">
    <div class="col">
      {{ item.titre }}
         <img src="/images/{{ item.image }}"class="img-fluid img-images" alte="image">
    </div>
    <div class="col">
      {{ item.titre }}
         <img src="/images/{{ item.image }}"class="img-fluid img-images" alte="image">
    </div>
    <div class="col">
      {{ item.titre }}
         <img src="/images/{{ item.image }}"class="img-fluid img-images" alte="image">
    </div>
  </div>
{% endfor %}
</div>
</div>
</section>
{% endblock %}



